$f: #ffffff;
$b: #010101;
$darkblue: #213654;
$blue: #2C78F6;
$lightblue: #E9F2FE;
$lighterblue: #F8FAFD;
$text: #001839;
$gradient: linear-gradient(to right, #2c78f6 0%,#00bfe7 65%,#2c78f6 100%);
$gradientreverse: linear-gradient(264.73deg, #00BFE7 0%, #2C78F6 149.62%);
